div{
    width: 400px;
    height: 400px;
}

.assign-2-shape-1{
    background-image: url(../image/back-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.assign-2-shape-2{
    background-image: url(../image/back-1.jpeg);
    background-size: 100px auto;
    background-repeat: repeat-x;
}

.assign-2-shape-3{
    background-image: url(../image/back-1.jpeg);
    background-size: 100px auto;
    background-repeat: repeat-y;
}

.assign-2-shape-4{
    background-image: url(../image/back-1.jpeg);
    background-size: 100px auto;
    background-repeat: repeat;
}
